<!DOCTYPE html>
<html lang="en">
  <head>
    <% title = if assigns[:title], do: assigns[:title], else: @name  %>
    <title><%= title %> </title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Jason Stiebs Personal Website" />
    <meta name="google-site-verification" content="HQWQG0ZG1ehtqg8ivSqHW1lZJks6yokHUEiXz8a1mnw" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/Rubik/stylesheet.css" />
    <link rel="stylesheet" href="/static/tufte.css"/>

  </head>
  <body>
    <article>
      <%= @body %>
    </article>
  </body>
</html>
